{{block "details" .}}
<main>
  <div class="details-container">
    <article class="details-card">
      <div class="details-card-img-wrapper">
        <img src="{{.Image}}" alt="Image of {{.Name}}" />
      </div>
      <div class="details-card-content">
        <div class="details-card-content-section">
          <h2 class="details-card-name">{{.Name}}</h2>
        </div>

        <div class="details-card-status">
          <span
            style="{{if eq .Status `Dead`}}background: red;{{else if eq
            .Status `Alive`}}background: green{{end}}"
            class="details-card-status-icon"
          ></span>
          {{.Status}} - {{.Species}}
        </div>
        <div class="details-card-location-section">
          <span class="details-card-text-gray">Last known location:</span
          >{{.Location.Name}}
        </div>
        <div class="details-card-episodes-section">
          Appears in {{len .Episode}} episodes
        </div>
      </div>
    </article>
  </div>
</main>
{{end}}
