:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --brand-gray: #2d2d2d;
  --brand-gray-light: #d2d2d2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  display: flex;
  font-size: 62.5%;
}

body {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--brand-gray);
}

header {
  display: flex;
  padding: 2rem 4rem;
  align-items: center;
  justify-content: center;
  background-color: var(--brand-gray);
  border-bottom: 1px solid #444;
  margin-bottom: 6rem;

  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

main {
  flex: 1;
  display: flex;
  margin-bottom: 6rem;
  flex-direction: column;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #444;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.footer-text {
  color: gold;
  font-weight: 500;
  font-size: 1.5rem;
}

.logo-image-container {
  display: flex;
  aspect-ratio: 4/1;
  height: 50px;
}

img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.container {
  width: 100%;
  margin: auto;
  display: flex;
  max-width: 1280px;
  align-items: center;
  justify-content: space-between;

  &:has(form) {
    justify-content: center;
    margin-inline: auto;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
}

.grid {
  gap: 2rem;
  width: 100%;
  display: grid;
  align-self: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 300px);
}

/* card */
.card-img-wrapper {
  height: 75%;
  position: relative;
}

.card {
  position: relative;
  max-width: 32rem;
  aspect-ratio: 2/3;
  background-color: var(--brand-gray);
  border-radius: 1.5rem;
  overflow: hidden;
  border: 1px solid #444;
}

a:has(.card) {
  text-decoration: none;
}

a:has(.card):hover .card {
  @media screen and (min-width: 1024px) {
    transform: rotate(15deg);
    transition: transform 0.2s ease-out;
    box-shadow: 0 0 10px 10px gold;
  }
}

.name {
  color: gold;
  padding: 6px 10px;
  font-size: 2.4rem;
  margin-bottom: 20px;
}

.location {
  padding: 6px 10px;
  font-size: 1.6rem;
  color: var(--brand-gray-light);
}

.details-image {
  width: 200px;
  aspect-ratio: 16/9;
  color: var(--brand-gray-light);
}

/* search input*/
.search-input-wrapper {
  display: flex;
  position: relative;
  border-radius: 1rem;
  width: 30rem;
  height: 4rem;
  overflow: hidden;
  background-color: #fff;
  align-items: center;
  padding-inline: 10px 16px;
}

.search-input-wrapper:hover,
.search-input-wrapper:focus-within {
  outline: 4px solid gold;

  & .search-input-icon {
    fill: gold;
  }
}

.search-input {
  border: none;
  height: 100%;
  width: 100%;
  outline: none;
  display: flex;
  font-size: 1.5rem;
  padding: 0.75rem 1rem;
}

.search-input-icon {
  height: 2rem;
  width: 2rem;
  aspect-ratio: 1/1;
}

form {
  gap: 20px;
  display: flex;
  margin-inline: auto;
  margin-bottom: 20px;
  flex-wrap: wrap;

  @media screen and (max-width: 939px) {
    flex-direction: column;
  }

  @media screen and (min-width: 1260px) {
    justify-content: space-around;
    margin-inline: 0;
  }
}

/* select */
.custom-select {
  width: 300px;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
  position: relative;
  font-size: 1.5rem;
}

.custom-select-display {
  cursor: pointer;
  border-radius: 8px;
  padding: 10px 16px;
  border: 1px solid #ccc;
  background-color: white;
}

.custom-select-icon {
  top: 0;
  right: 0;
  width: 10px;
  height: 5px;
  margin: 20px;
  position: absolute;
  background-color: #000;
  transform: translateY(-50%);
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%, 85% 0%, 50% 80%, 15% 0%);
}

.custom-options {
  left: 0;
  right: 0;
  top: 110%;
  z-index: 1;
  display: none;
  border-top: none;
  overflow-y: auto;
  max-height: 200px;
  position: absolute;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
}

.custom-select.open .custom-options {
  display: block;
}

.custom-option {
  cursor: pointer;
  padding: 10px 16px;
}

.custom-option:hover {
  color: white;
  background-color: gold;
}

input[type="hidden"] {
  display: none;
}

/*details*/

.details-container {
  width: 100%;
  margin: auto;
  display: flex;
  max-width: 1280px;
  align-items: center;
  padding-inline: 10px;
  justify-content: center;
  color: var(--brand-gray-light);

  @media screen and (max-width: 640px) {
    max-width: 300px;
  }
}

.details-card {
  width: 600px;
  height: 220px;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  overflow: hidden;
  border-radius: 1.5rem;
  border: 1px solid #444;
  background-color: var(--brand-gray);
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  @media screen and (max-width: 640px) {
    width: 100%;
    height: initial;
    flex-direction: column;
  }
}

.details-card-image-wrapper {
  flex: 1;
  display: flex;

  img {
    display: block;
    min-width: 300px;
  }
}

.details-card-name {
  color: gold;
  padding: 6px 10px;
  font-size: 2.4rem;
}

.details-card-content {
  flex: 1;
  gap: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 16px;
}

.details-card-status {
  margin-top: -10px;
  gap: 10px;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  padding: 6px 10px;
  align-items: center;
}

.details-card-status-icon {
  height: 10px;
  display: block;
  background: #444;
  aspect-ratio: 1/1;
  border-radius: 100px;
}

.details-card-location-section {
  gap: 5px;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  padding: 6px 10px;
  flex-direction: column;
}

.details-card-text-gray {
  color: #888;
}

.details-card-episodes-section {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  padding: 6px 10px;
}

.container:has(#no-results) {
  flex: 1;
}
#no-results {
  display: flex;
  flex-direction: column;
}

.error-title {
  color: gold;
  font-size: 30px;
  text-align: center;
}

.error-image {
  margin-inline: auto;
  width: 100%;
  max-width: 768px;

  img {
    display: block;
    width: 100%;
  }
}
