.details {
  margin: 4.8rem 0;
  padding: 4.8rem 1.2rem;
  background-color: #f1f5f965;
  color: var(--main-950);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 11px;

  & > h2 {
    font-size: 4.4rem;
    margin-bottom: 2.4rem;
  }

  & > .grid-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    & > img {
      height: 100%;
      width: 100%;
      border: 3px solid var(--main-950);
      border-radius: 11px;
    }

    & > p {
      font-size: 3.6rem;
      font-weight: 700;

      & > span {
        font-weight: 500;
      }
    }
  }
}
