.error-title {
  font-size: 6.4rem;
  padding: 3.2rem 0;
  text-align: center;
  background-color: #f1f5f965;
  color: #020617;
  border-radius: 11px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
