.card {
  perspective: 100rem;
  -moz-perspective: 100rem;
  position: relative;
  height: 52.5rem;
  width: 35rem;
  &_side {
    height: 52.5rem;
    width: 35rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 11px;
    overflow: hidden;
    box-shadow: 0 0 2rem #94a3b8;
    &_front {
      background-color: #334155;
    }

    &_back {
      background: linear-gradient(to top left, #020617, #64748b);
      transform: rotateY(-180deg);
      display: flex;
      align-items: center;
      justify-content: center;
      .btn_back {
        display: inline-block;
        font-size: 3rem;
        padding: 1rem 2rem;
        border-radius: 1000rem;
        box-shadow: 0 0 2rem #94a3b8;
        cursor: pointer;
        color: #f8fafc;
        background-color: #0f172a;
        border-color: #0f172a;
        font-weight: 600;
        letter-spacing: 1.5px;
        transition: all 0.3s;

        &:hover {
          background-color: #94a3b8;
          box-shadow: 0 0 4rem #f8fafc;
          border-color: #94a3b8;
          color: #0f172a;
        }
      }
    }
  }
  &:hover &_side_front {
    transform: rotateY(180deg);
  }

  &:hover &_side_back {
    transform: rotateY(0);
  }
}
a {
  text-decoration: none;
}

.status {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  padding: 0.5rem 5rem;
  font-weight: 600;
  background-color: #020617;
  color: #f8fafc;
  letter-spacing: 1.5px;
  rotate: 45deg;
  top: 2.5%;
  right: -12.5%;

  &_pad {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    padding: 0.5rem 5rem;
    font-weight: 600;
    background-color: #020617;
    color: #f8fafc;
    letter-spacing: 1.5px;
    rotate: 45deg;
    top: 5%;
    right: -15%;
  }
}
.card-img-box {
  height: 75%;
}
.card-img {
  width: 100%;
  height: 100%;
}
.card-text-box {
  height: 25%;
  color: #f8fafc;
  padding: 0 1rem;
}
.name {
  font-size: 3rem;
}

.location {
  font-size: 2.4rem;
}
