.result {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--main-900);
  padding: 2rem;
  transition: all 0.3s;
  cursor: pointer;
  text-align: center;
  &:hover {
    background-color: lighten(#f1f5f965, 10%);
  }
}

.img {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 1px solid var(--main-900);
}

.name {
  font-size: 3rem;
  color: var(--main-900);
  font-weight: 600;
}
