:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --main-50: #f8fafc;
  --main-100: #f1f5f9;
  --main-200: #e2e8f0;
  --main-300: #cbd5e1;
  --main-400: #94a3b8;
  --main-500: #64748b;
  --main-600: #475569;
  --main-700: #334155;
  --main-800: #1e293b;
  --main-900: #0f172a;
  --main-950: #020617;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

body {
  background: linear-gradient(to right, #0f172a9e, #0f172a9e),
    url("./assets/625910.png") no-repeat center fixed;
  background-size: cover;
}

.grid--3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 6rem;
  margin-bottom: 9.6rem;
  & > *:last-child {
    grid-column: -1/-2;
  }
}
